.box1 {
    height: 416px;
    width: 266px;
    background: #fff;
    border-radius: 28px;
    margin: 19px;
    margin-top: 63px;
    box-shadow: 0px 1px 2px 0px rgba(255, 166, 0, 0.7),
        1px 2px 4px 0px rgba(255, 166, 0, 0.7),
        2px 4px 8px 0px rgba(255, 166, 0, 0.7),
        2px 4px 16px 0px rgba(255, 166, 0, 0.7);
}

.box1:hover {
    transform: scale(1.1);
    box-shadow: 0px 1px 2px 0px rgba(255, 166, 0, 0.7),
        1px 2px 4px 0px rgba(255, 166, 0, 0.7),
        2px 4px 8px 0px rgba(255, 166, 0, 0.7),
        2px 4px 16px 0px rgba(255, 166, 0, 0.7);
}



.pricing {
    text-align: center;
    border: 1px solid #f0f0f0;
    color: #4b0c64;
    font-size: 14px;
    padding-left: 0;
    margin-bottom: 30px;
    font-family: 'Lato';
}


.pricing li:first-child,
.pricing li:last-child {
    padding: 20px 13px;
}

.pricing li {
    list-style: none;
    padding: 13px;
}

.pricing li+li {
    border-top: 1px solid #f0f0f0;
}

.pricing big {
    font-size: 32px;
}

.pricing h3 {
    margin-bottom: 0;
    font-size: 36px;
}

.pricing span {
    font-size: 12px;
    color: #999;
    font-weight: normal;
}

.pricing li:nth-last-child(2) {
    padding: 30px 13px;
}

/* pricing color */
.p-green big,
.p-green h3 {
    color: #4c7737;
}

.p-yel big,
.p-yel h3 {
    color: #ffbb42;
}

.p-red big,
.p-red h3 {
    color: #e13c4c;
}

.p-blue big,
.p-blue h3 {
    color: #3f4bb8;
}

.wrap {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button {
    width: 140px;
    height: 45px;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: rgb(91, 219, 241);
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}



.button:hover {
    background-color: #050505;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: rgb(250, 244, 244);
    transform: translateY(-7px);
}

.box8 {
    height: 416px;
    width: 266px;
    background: #fff;
    border-radius: 28px;

    margin-top: 40px;
    margin-bottom: -29px;
    box-shadow: 0px 1px 2px 0px rgba(255, 166, 0, 0.7),
        1px 2px 4px 0px rgba(255, 166, 0, 0.7),
        2px 4px 8px 0px rgba(255, 166, 0, 0.7),
        2px 4px 16px 0px rgba(255, 166, 0, 0.7);
}

.history {
    margin-left: 33%;
    margin-top: 22%;
}

.date {
    margin-left: 60%;
    margin-top: 12%;
}

.datecontract {
    margin-left: 47%;
    margin-top: 12%;
}

.arrow {
    width: 38px;
    margin-left: -15%;
    margin-top: 5%;
}

.chart {
    margin: 20px;
    padding: 20px;
}

.chartTitle {
    margin-bottom: 36px;
    font-size: 31px;
}
.featuredItem {
    flex: 1;
    padding: 6px;
    margin-left: 10px;
    border-radius: 10px;
    cursor: pointer;
    height: 204px;
}

.featuredTitle {
    font-size: 27px;
    font-weight: 300;
    color: darkgreen;
}

.featuredMoneyContainer {  
    display: flex;
    align-items: center;
    margin-top: 13px;
    height: 109px;
}

.featuredMoney {
        font-size: 37px;
        font-weight: 400;
        margin-top: -32px;
}

.featuredMoneyRate {
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.featuredIcon {
    font-size: 14px;
    margin-left: 5px;
    color: green;
}

.featuredIcon.negative {
    color: red;
}

.featuredSub {
        font-size: 15px;
        margin-top: 74px;
        font-weight: 300;
        color: #59068a;
}